generic/3.1 sends non-zero padding and doesn't like the ensuing GOAWAY

generic/3.1.3 is not correct:
```
      × 3: Sends a DATA frame with padding
        -> The endpoint MUST accept DATA frame with padding.
           Expected: HEADERS Frame (stream_id:1)
             Actual: GOAWAY Frame (length:30, flags:0x00, stream_id:0)
```

From RFC 7540 Section 6.1:
> A receiver is not obligated to verify padding but MAY treat non-zero padding as a connection error of type PROTOCOL_ERROR.

My server's debug logs:
```
NEW CONNECTION	http.h2_connection{type="server"}
WRITE	http.h2_stream{connection=http.h2_connection{type="server"};id=0;state="idle";parent=nil;dependees={}}	SETTING	FLAGS=0
HANDLING	http.h2_stream{connection=http.h2_connection{type="server"};id=0;state="idle";parent=nil;dependees={}}	SETTING	Flags=0	StreamID=0
WRITE	http.h2_stream{connection=http.h2_connection{type="server"};id=0;state="idle";parent=nil;dependees={}}	SETTING	FLAGS=1
HANDLING	http.h2_stream{connection=http.h2_connection{type="server"};id=0;state="idle";parent=nil;dependees={}}	SETTING	Flags=1	StreamID=0
HANDLING	http.h2_stream{connection=http.h2_connection{type="server"};id=1;state="idle";parent=0;dependees={}}	HEADERS	Flags=4	StreamID=1
HANDLING	http.h2_stream{connection=http.h2_connection{type="server"};id=1;state="open";parent=0;dependees={}}	DATA	Flags=9	StreamID=1
WRITE	http.h2_stream{connection=http.h2_connection{type="server"};id=0;state="idle";parent=nil;dependees={1}}	GOAWAY	FLAGS=0	PROTOCOL_ERROR(0x1): Protocol error detected: padding not null bytes
```

Thank you for your feedback!
This is a bug. h2spec should send null byte as padding. I'm going to fix this on next version. 

Fixed in cc78fa189c91e102088fe26e731e47051d5d7f1b

Makes me question why `WriteDataPadded` even takes a padding contents argument....

Good question. `WriteDataPadded` is a wrapper of `golang.org/x/net/http2` that allows to use non-zero padding. So h2spec is the same.